{% extends "admin/admin.html.twig" %}

{% block main %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prix</th>
                                            <th>Promotion</th>
                                            <th>Description</th>
                                            <th>Photos</th>
                                            <th>Modifier</th>
                                            <th>Suprimer</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prix</th>
                                            <th>Promotion</th>
                                            <th>Description</th>
                                            <th>Photos</th>
                                            <th>Modifier</th>
                                            <th>Suprimer</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for produit in produits %}
                                        <tr>
                                            <td>{{ produit.nom }}</td>
                                            <td>{{ produit.prix }} €</td>
                                            <td>{{ produit.promotion }} %</td>
                                            <td>{{ produit.description }}</td>
                                            <td>
                                            {% for photo in produit.photos %}
                                                <img src="{{asset('img-produit/' ~ photo)}}" alt="" style="height:50px;">
                                            {% endfor %}
                                            </td>
                                            <td><a href="{{ path('ajoutProduit', {id:produit.id}) }}">Modifier</a></td>
                                            <td><a href="{{ path('supprimerProduit', {id:produit.id}) }}">Suprimer</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}