    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('assets/assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/assets/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('assets/assets/js/owl.carousel.min.js')}}"></script><!-- OWL Carousel -->
    <script src="{{asset('assets/assets/js/lv-ripple.jquery.min.js')}}"></script><!-- BTN Material effects -->
    <script src="{{asset('assets/assets/js/SmoothScroll.min.js')}}"></script><!-- SmoothScroll -->
    <script src="{{asset('assets/assets/js/jquery.TDPageEvents.min.js')}}"></script><!-- Page Events -->
    <script src="{{asset('assets/assets/js/jquery.TDParallax.min.js')}}"></script><!-- Parallax -->
    <script src="{{asset('assets/assets/js/jquery.TDTimer.min.js')}}"></script><!-- Timer -->
    <script src="{{asset('assets/assets/js/selectize.min.js')}}"></script><!-- Select customize -->
    <script src="{{asset('assets/js/main.min.js')}}"></script>
    <script src="{{asset('js/login.js')}}"></script>
    <script src="{{asset('js/changeNbrProduitCommander.js')}}"></script>
</body>

</html>